# Q1. Create one variable containing following type of data:
    (i) string
    (ii) list
    (iii) float
    (iv) tuple

In [1]:
var_string = "Hello"

var_list = ['string', 3, 20.0, 3+4j, [1,2,3]]

var_float = 2.0

var_tuple = ('string', 3, 20.0, 3+4j, [1,2,3])

# Q2. Given are some following variables containing data:
    (i) var1 = ''
    (ii) var2 = '[ DS , ML , Python]'
    (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
    (iv) var4 = 1.

What will be the data type of the above given variable.

In [2]:
#(i)
var1 = ''
type(var1)

str

In [3]:
#(ii)
var2 = '[ DS , ML , Python]'
type(var2)

str

In [4]:
#(iii)
var3 = [ 'DS' , 'ML', 'Python' ]
type(var3)

list

In [5]:
#(iv)
var4 = 1.
type(var4)

float

# Q3. Explain the use of the following operators using an example:
    (i) /
    (ii) %
    (iii) //
    (iv) **

In [7]:
#(i) / : It gives you the divisible value of the 2 numbers.
div = 10/3
div

3.3333333333333335

In [9]:
#(ii) % : It gives you the reminder value of the 2 numbers.
rem = 10%3
rem

1

In [10]:
#(i) // : It gives you the flour value of the 2 numbers. It like the integer part of the divisble value
flour = 10//3

#Alternative
div_flour = int(10/3)

print(flour, div_flour)

3 3

In [11]:
#(iv) ** : It use for power value. Second place number denotes the power of First place number

pow = 2 ** 3
pow

8

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [17]:
lst = ['string', 3, 20.0, 3+4j, [1,2,3], True, 20, 3.33334, 0b100, bin(10)]

for i in lst:
    print (f'Element "{i}" type is {type(i)}')

Element "string" type is <class 'str'>
Element "3" type is <class 'int'>
Element "20.0" type is <class 'float'>
Element "(3+4j)" type is <class 'complex'>
Element "[1, 2, 3]" type is <class 'list'>
Element "True" type is <class 'bool'>
Element "20" type is <class 'int'>
Element "3.33334" type is <class 'float'>
Element "4" type is <class 'int'>
Element "0b1010" type is <class 'str'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [24]:
A = int(input("Enter number A: "))
temp_A = A

B = int(input("Enter number B: "))

count= 0
while temp_A%B==0:
    count+=1
    temp_A = temp_A/B
    
if count > 0:
    print(f'{A} is purely divisible by {B} in {count} number of times')
else:
    print(f'{A} is not divisible by {B}')

Enter number A: 32020
Enter number B: 2
32020 is purely divisible by 2 in 2 number of times

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [25]:
lst = range(25)

for i in lst:
    if i%3 == 0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Ans: Mutable data type like a list in which we remove, update, append or replace the index element on the bases of its index value.

In [26]:
lst = ['string', 3, 20.0, 3+4j, [1,2,3]]

lst[0] = 'hello'
lst.append("Append")
lst.remove(3)

lst

['hello', 20.0, (3+4j), [1, 2, 3], 'Append']

But in Immutable data type like string in which we can not remove, update, append or replace the index element on the bases of its index value.

In [28]:
string = "Hello"

string[0] = 'Y'

string

TypeError: 'str' object does not support item assignment