# Q1. How do you comment code in Python? What are the different types of comments?

Ans. There are 2 type of comment in Python:
    
    1. Single line comment in which we use '#' To comment the code
    
    2. Muti line comment in which we use triple single quote ''' and triple double quote """ To comment the code

In [1]:
#Single line comment

'''Multi line comment
We can use it as a string too.'''

'Multi line comment\nWe can use it as a string too.'

# Q2. What are variables in Python? How do you declare and assign values to variables?

Ans. Variable is used as a container which store values or data for us. After declaring the variable we can use it anywhere in the programme with the help of its name and manuplate it.

We can follow these step to declare the variable:
    
    1. We decide name of the vriable It start with the aplhabet's and _underscore only. ex a, A, _a, _A
    
    It's also a case sensitive python treated lowercase 'a' & uppercase 'A' as a diffrent variable names.
    
    2. We assign the values (string, int, boolean, float etc) to the variable with the help of assign operator '='. 
    ex a = 'Hello', A = 20, _a=True, _A = 2.0

# Q3. How do you convert one data type to another in Python?

We use typecasting method to convert one type to another. Here is the few example below:

In [4]:
#String to int (only if it contain a valid integer representation)
a = "23"
b = int(a)

print(f'convert "{a}" type {type(a)} to {b} type {type(b)}')

convert "23" type <class 'str'> to 23 type <class 'int'>

In [5]:
#String to float (only if it contain a valid float representation)
a = "23.56"
b = float(a)

print(f'convert "{a}" type {type(a)} to {b} type {type(b)}')

convert "23" type <class 'str'> to 23 type <class 'int'>

In [7]:
#int to string
a = 23
b = str(a)

print(f'convert {a} type {type(a)} to "{b}" type {type(b)}')

convert 23 type <class 'int'> to "23" type <class 'str'>

In [9]:
#list to tuple
l = [1,2,3]
t = tuple(l)

print(f'convert {l} type {type(l)} to {t} type {type(t)}')

convert [1, 2, 3] type <class 'list'> to (1, 2, 3) type <class 'tuple'>

# Q4. How do you write and execute a Python script from the command line?

Ans. We can follow this steps to execute the Python script:

    1. Open the texteditor for example: Visual studio code
    
    2. Write a code into it for example: print("Hello PW skills")
    
    3. Save the file with .py extenstion into your local pc for example: hello.py
    
    4. Open a 'terminal' into the mac or in window open a 'command promt'
    
    5. Nevigate the file it with the help of cd command for example you save it on you desktop: cd desktop
    
    6. Once you nevigate it Execute it with the help of python3 command for example: python3 hello.py

# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [11]:
my_list = [1,2,3,4,5]

sub_list = my_list[1:3]

sub_list

[2, 3]

# Q6. What is a complex number in mathematics, and how is it represented in Python?

Ans. Complex number is the number that can express it like a + bi, where a&b is real number and i is the imaginary unit. a is the real part of the complex number and b is the imaginary part of the complex number. 

In Python we can write j insted of i to represent the imaginary unit of the complex number. So, in Python we can write it like this a+bj. For example:

In [12]:
#Complex number
num = 7+2j

print(f'Real part of the complex number is {num.real} & Imaginary part of the complex number is {num.imag}')

Real part of the complex number is 7.0 & Imaginary part of the complex number is 2.0

# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [19]:
age = 25

# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [20]:
price = 9.99

type(price)

float

# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [27]:
name = "Rameez khan"

print(f"Hello {name}!")
print(name)

Hello Rameez khan!
Rameez khan

# Q10. Given the string "Hello, World!", extract the substring "World".

In [17]:
string = "Hello, World!"

sub_string = string[7:12]

sub_string

'World'

# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [28]:
is_student = True
type(is_student)

bool